:root {
  --nav-height: 70px;
}
.navbar {
  height: var(--nav-height);
}
.vue-map-container {
  height: calc(100vh - var(--nav-height));
}
.mainDiv {
  margin-top: 50px;
}
.btn-row {
  margin-top: 20px;
}
.btn-custom {
  width: 100%;
}
.btn-info {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.popoverStyle {
  font-size: 16px;
  color: seagreen;
  font-weight: 700;
}
